.footer {
  background: #0b0b0b;
  &-wrapper {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: white;
    }
  }
}

@media (max-width: 990px) {
  .footer {
    padding-bottom: 60px;
  }
}
