* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
}

body {
  height: 540vh;
}
