.hero {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
  font-family: "Poppins";
  color: white;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  margin-bottom: 20px;
  max-width: 457px;
}

.hero-text {
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 30px;
  max-width: 456px;
}

.hero-search {
  display: flex;
  align-items: center;
  max-width: 450px;
  width: 80%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 40px;
}

.hero-search__icon {
  color: #3858d6;
  font-size: 18px;
  padding: 0 12px;
}

.hero-search__input {
  flex: 1;
  padding: 14px;
  font-size: 16px;
  color: #333;
  border: none;
  outline: none;
}

.hero-search__btn {
  background: #3858d6;
  color: #fff;
  margin-right: 5px;
  border-radius: 8px;
  font-weight: 600;
  padding: 10px 32px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: background 0.3s;
  font-family: "Poppins";
}

.hero-search__btn:hover {
  background: #2f47b5;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .hero-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-img {
    margin-top: 30px;
  }
  .hero-search {
    margin: 0 auto 40px auto;
  }
  .hero-title, .hero-text {
    max-width: 100%;
  }
}
