.types {
  font-family: "Inter";
}

.types-wrapper {
  padding-top: 4rem;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.types-item {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
  border-radius: 15px;
  background: #f6f6f6;
  padding: 40px;
  .types-item__body {
    .item-title {
      font-weight: 700;
      font-size: 36px;
    }
    .item-text {
      color: #8b8e99;
    }
  }
}

@media (max-width: 768px) {
  .types-wrapper {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  .types-item {
    width: 100%;}
}
