.product {
  width: 100%;
}

.latest-products {
  font-family: "Inter";
  p {
    color: #3858d6;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    display: inline-block;
  }
  h2 {
    font-size: 32px;
    font-weight: 700;
  }
}

.title {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  .product__img {
    display: inline-block;
    padding: 30px 40px;
    background-color: #f6f6f6;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .product__body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 10%;
    .title {
      padding: 0;
      display: inline-block;
    }
    .product__price {
      display: flex;
      align-items: center;
      gap: 5px;
      .discount {
        color: #8b8e99;
        text-decoration: line-through;
      }
      .product-actual {
        font-family: "Poppins";
        font-weight: 600;
      }
    }
  }
}

.product-stars {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  cursor: pointer;
}

.fa-star {
  transition: color 0.2s;
}

.product-stars:hover .fa:hover,
.product-stars:hover .fa:hover ~ .fa {
  color: #ffcc00;
}

.product__view-more-btn {
  background: #3858d6;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 600;
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 70px;
  padding: 7px 30px;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .products-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products-wrapper {
    grid-template-columns: 1fr;
  }
}
